#box1 {

    height: 100px;
    width: 120px;
    background-color: aquamarine;
    font-size: 40px;
}

#box2 {
    text-align: center;
    /* height: 120%; */
    width: 110%;
    /*it is relative width wrt its parent's width i.e box 1's*/
    margin-left: 30%;
    background-color: blueviolet;
    font-size: 0.5em;
    /*em is related to font size and font related props*/
    width: 5rem;
    /*rem is root em which is relative to root i.e outermost part of text in your html tag*/
    height: 10vh;
    /*vh is %of height of browser default and vw is %of width of browser default*/
}